html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Bungee Spice", cursive;
}
.screen {
  background-color: #f5a1a1;
}
.header {
  text-align: center;
  padding: 20px;
  font-size: 50px;
  color: #b2560d;
}
.parent {
  display: flex;
  justify-content: space-evenly;
  position: relative;

}
.child {
  width: 400px;
  height: 250px;
  margin-bottom: 2%;
  box-shadow: 2px 4px #352315;
  border: 3px solid #b2560d;
  border-radius: 25px;
}
.cap {
  height: 100px;
  width: 100px;
  top: 30%;
  left: 38%;
}
.crying {
  height: 100px;
  width: 100px;
  top: 30%;
  left: 38%;
}
.frog {
  height: 100px;
  width: 100px;
  top: 30%;
  left: 38%;
}
.heart {
  height: 100px;
  width: 100px;
  top: 30%;
  left: 38%;
}
.frowning {
  height: 100px;
  width: 100px;
  top: 30%;
  left: 38%;
}
.laughing {
  height: 100px;
  width: 100px;
  top: 30%;
  left: 38%;
}
.rolling {
  height: 100px;
  width: 100px;
  top: 30%;
  left: 38%;
}
.sleeping {
  height: 100px;
  width: 100px;
  top: 30%;
  left: 38%;
}
.thinking {
  height: 100px;
  width: 100px;
  top: 30%;
  left: 38%;
}
.cap:hover{
  transform: scale(1.5);
}

.crying:hover{
  transform: scale(1.5);
}
.frog:hover{
  transform: scale(1.5);
}
.frowning:hover{
  transform: scale(1.5);
}
.heart:hover{
  transform: scale(1.5);
}
.laughing:hover{
  transform: scale(1.5);
}
.rolling:hover{
  transform: scale(1.5);
}
.sleeping:hover{
  transform: scale(1.5);
}
.thinking:hover{
  transform: scale(1.5);
}