html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  text-align: center;
  padding: 25px;
}
.parent {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
}
.child {
  width: 400px;
  height: 250px;
  margin-bottom: 2%;
}
.child1{
  border: 1px solid red;
}
.child2{
  border: 1px solid red;
}
.child3{
  border: 1px solid red;
}
